<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/wet.jpg">
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            {{!-- <h1>{{ title }}</h1> --}}
            <p>This site was created by Pragati Vashishtha.It uses sta from mapbox.com & darksky.net!</p>
            <img class="portrait" src="/img/myImg.jpg">
        </div>
        
        {{!-- <p>Created by {{ name }}</p> --}}
        {{>footer}}
    </body>
</html>